<!-- <table class="ui selectable inverted table"> -->
<div class="table_div">
    <div class="table_header">
        <h5 class="table_header_text">Affiliate Postbacks</h5>
    </div>

    <table class="ui selectable celled padded  table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th class="right aligned">Postback</th>
                <th class="right aligned">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John BObby</td>
                <td>14564</td>
                <td class="right aligned">https://feed.atg.digital/prod/ounass-en_om.xml?sub_id=aff_sub&click_id=transaction_id&parent=rss&objects=channel&object=item&url_tag=link</td>
                <td class="right aligned">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui green button">
                            <i class="edit  icon"></i> Edit
                        </div>
                    </div>

                    <div class="ui labeled button" tabindex="0">
                        <div class="ui red button">
                            <i class="delete  icon"></i> Delete
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jamie Anderson</td>
                <td>566656</td>
                <td class="right aligned">https://feed.atg.digital/prod/ounass-en_om.xml?sub_id=aff_sub&click_id=transaction_id&parent=rss&objects=channel&object=item&url_tag=link</td>
                <td class="right aligned">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui green button">
                            <i class="edit  icon"></i> Edit
                        </div>
                    </div>

                    <div class="ui labeled button" tabindex="0">
                        <div class="ui red button">
                            <i class="delete  icon"></i> Delete
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jill Mary</td>
                <td>12344</td>
                <td class="right aligned">https://feed.atg.digital/prod/ounass-en_om.xml?sub_id=aff_sub&click_id=transaction_id&parent=rss&objects=channel&object=item&url_tag=link</td>
                <td class="right aligned">
                    <div class="ui labeled button" tabindex="0">
                        <div class="ui green button">
                            <i class="edit  icon"></i> Edit
                        </div>
                    </div>

                    <div class="ui labeled button" tabindex="0">
                        <div class="ui red button">
                            <i class="delete  icon"></i> Delete
                        </div>
                    </div>
                </td>
            </tr>


        </tbody>
    </table>
</div>