<!-- <table class="ui selectable inverted table"> -->
<div class="table_div">
    <div class="table_header">
        <h5 class="table_header_text">Affiliates</h5>
    </div>

    <table class="ui selectable celled padded  table">
        <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th class="right aligned">API Key</th>
                <th class="right aligned">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John BObby</td>
                <td>14564</td>
                <td class="right aligned">123rgwjdyjdsd743ksd</td>
                <td class="right aligned">


                    <div class="ui labeled button" tabindex="0">
                        <!-- <div class="ui red button affiliate"> -->
                        <i class="material-icons  red">delete_forever </i>

                        <!-- </div> -->
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jamie Anderson</td>
                <td>566656</td>
                <td class="right aligned">123rgwjdyjdsd743ksd</td>
                <td class="right aligned">


                    <div class="ui labeled button" tabindex="0">
                        <!-- <div class="ui red button affiliate"> -->
                        <i class="material-icons  red">delete_forever</i>

                        <!-- </div> -->
                    </div>
                </td>
            </tr>
            <tr>
                <td>Jill Mary</td>
                <td>12344</td>
                <td class="right aligned">123rgwjdyjdsd743ksd</td>
                <td class="right aligned">


                    <div class="ui labeled button" tabindex="0">
                        <!-- <div class="ui red button affiliate"> -->
                        <i class="material-icons  red  red">delete_forever</i>

                        <!-- </div> -->
                    </div>
                </td>
            </tr>


        </tbody>
    </table>
</div>