<div class="ui secondary vertical menu">
    <h4 class="arabclicks_PK_header">Menu</h4>
    <a class="active item">
        <h5 class="menu-label"> Affiliate info </h5>
        <div class="menu">
            <a class="item" routerLink="add-affiliate">Add Affiliate</a>
            <a class="item" routerLink="affiliates">All Affiliates</a>
            <a class="item">Active Affiliates</a>
            <a class="item">Pending Affiliates</a>
        </div>
    </a>

    <a class="item">
        <h5 class="menu-label"> Amazon Links</h5>
        <div class="menu">
            <a class="item" routerLink="amazon-links">Generate  Links</a>
            <a class="item" routerLink="amazon-links">All  Links</a>

        </div>
    </a>


    <a class="item">
        <h5 class="menu-label"> Postbacks</h5>
        <div class="menu">
            <a class="item" routerLink="add-postback">Add Postback</a>
            <a class="item" routerLink="postbacks">All Postbacks</a>

        </div>
    </a>

    <a class="item">
        <h5 class="menu-label">Event Trigers</h5>
        <div class="menu">
            <a class="item">Todays Events</a>
            <a class="item">All Events</a>
            <a class="item">Download Event logs</a>
            <a class="item">Clear Events</a>
        </div>
    </a>
</div>